// COLORS =====================================================================
$white: #ffffff;
$accent: #862019;
$base: #525860;

// FONTS ======================================================================
/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/lato-v14-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Lato Light'), local('Lato-Light'),
       url('./fonts/lato-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/lato-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/lato-v14-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./fonts/lato-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/lato-v14-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url('./fonts/lato-v14-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Light Italic'), local('Lato-LightItalic'),
       url('./fonts/lato-v14-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/lato-v14-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/lato-v14-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/lato-v14-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/lato-v14-latin-300italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/lato-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('./fonts/lato-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/lato-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/lato-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/lato-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/lato-v14-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/lato-v14-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Italic'), local('Lato-Italic'),
       url('./fonts/lato-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/lato-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/lato-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/lato-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/lato-v14-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/lato-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
       url('./fonts/lato-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/lato-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/lato-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/lato-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/lato-v14-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/lato-v14-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
       url('./fonts/lato-v14-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/lato-v14-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/lato-v14-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/lato-v14-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/lato-v14-latin-700italic.svg#Lato') format('svg'); /* Legacy iOS */
}

// MIXINS AND FUNCTIONS ========================================================
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin box($width, $height) {
  width: $width;
  height: $height;
}

@mixin header-bold() {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: $accent;
  @include font-size(40px);
  @include for-tablet-portrait-up {
    @include font-size(80px);
  }
}

@mixin header-bold-italic() {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 700;
  color: $accent;
  @include font-size(40px);
  @include for-tablet-portrait-up {
    @include font-size(80px);
  }
}

@mixin header-light() {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: $accent;
  @include font-size(40px);
  @include for-tablet-portrait-up {
    @include font-size(80px);
  }
}

@mixin header-light-italic() {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 300;
  color: $accent;
  @include font-size(40px);
  @include for-tablet-portrait-up {
    @include font-size(80px);
  }
}

@mixin header-link() {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: $white;
  @include font-size(30px);
  @include for-tablet-portrait-up {
    @include font-size(60px);
  }
}

@mixin body() {
  @include font-size(14px);
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $base;
}

@mixin body-bold() {
  @include font-size(14px);
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: $base;
}

@mixin shadow($level: 1) {
  @if $level == 1 {-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);} 
  @else if $level == 2 {-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
  @else if $level == 3 {-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
  @else if $level == 4 {-webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
  @else if $level == 5 {-webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);}
}

// Breakpoints
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

// Defaults ==================================================================
html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: $white;
  color: $base;
  margin: 0;
  padding: 0 16px;
  @include for-tablet-portrait-up() {
    padding: 0 32px;
  }
}

body {
  height: 100%;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

// GENERAL LAYOUT =============================================================
.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

// Navigation =================================================================
.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: 13px;
  width: 100%;
  nav {
    margin: 0 auto;
    text-align: center;
  }
  @include for-tablet-portrait-up() {
    margin: 0;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 4px;
    nav {
      text-align: left;
    }
  }
}

.nav-link {
  text-decoration: none;
  padding: 0;
  margin-left: 6px;
  margin-right: 6px;
  @include body();
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  &:hover, &:focus, &:active {
    color: $accent;
  }
  @include font-size(18px);
  @include for-tablet-portrait-up {
    margin-left: 0px;
    margin-right: 12px;
    @include font-size(14px);
  }
}

.header-logo {
  display: block;
  img {
    width: 183px;
    height: 47px;
  }
  margin: 0px auto 16px auto;
  text-align: center;

  @include for-tablet-portrait-up() {
    margin-top: -16px;
    float: right;
  }
}

// Homepage ===================================================================

.home-sequence {
  max-width: 1024px;
  width: 100%;
  word-wrap: normal;
  strong {
    @include header-bold();
  }
  .strong-em {
    @include header-bold-italic;
  }
  em {
    @include header-light-italic();
  }
  @include header-light();
}

.home-sequence-1 {
  display: none;
}

.home-sequence-2 {
  display: none;
}

.home-sequence-3 {
  display: none;
}

.seq-link {
  @include header-link();
  margin-top: 16px;
  position: relative;
  background-color: $accent;
  display: inline-block;
  text-decoration: none;
  line-height: .96;
  padding: 0px 4px 8px 4px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  margin-bottom: 32px;
  @include for-tablet-portrait-up() {
    margin-top: 25px;
    padding: 0px 4px 10px 4px;
  }
  &:hover, &:focus, &:active {
    color: $accent;
    background-color: $white;
  }
}

.seq-link:hover::after {
  background: $accent;
}
.seq-link::after{
  content:"";
  position:absolute;
  left: 4px;
  bottom: 6px;
  right: 4px;
  margin: 0 auto;
  background: $white;
  height: 1px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  @include for-tablet-portrait-up {
    left: 4px;
    bottom: 10px;
    right: 4px;
  }
}

// RECRUITMENT PAGE ==========================================================
.sectors {
  text-align: center;
  margin-bottom: 32px;
  margin: 0 auto;
}

.sector-button {
  position: relative;
  width: 32%;
  padding-bottom: 8px;
  margin-bottom: 8px;
  text-align: center;
  background-color: $white;
  outline: none;
  border: none;
  transition: all .25s ease;
  overflow: hidden;
  @include for-tablet-landscape-up() {
    margin-bottom: 0px;
    width: 13%;
    padding-bottom: 20px;
  }
  &:hover,&:focus {
    @include shadow(2);
  }
  &:active {
    @include shadow(1);
  }
}



.sector-title {
  @include body();
  @include font-size(14px);
  @include for-tablet-landscape-up() { 
    margin-top: -10px;
    @include font-size(16px);
  }
  font-weight: 400;

}
.sector-icon {
  height: 60px;
  max-width: 40px;
  margin: 0;
  background-color: $white;
  @include for-tablet-landscape-up() {
    height: 80px;
    max-width: 60px;
  }

}

.sector-description {
  padding: 20px 32px 24px 32px;
  background-color: darken($white, 5);
  position: relative;
  z-index: 2;
  text-align: left;
  p {
    @include font-size(18px);
    font-weight: 300;
    strong {
      font-weight: 400;
    }
  }
}

.sector-description-1, .sector-description-2, .sector-description-3, 
.sector-description-4, .sector-description-5, .sector-description-6 {
  display: none;
  transition: all .25s ease;
}

.sector-description-1::after {
  @include for-tablet-landscape-up() {
    content: "";
    position: absolute;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.12), inset 0 1px 2px rgba(0,0,0,0.24);box-shadow: inset 0 1px 3px rgba(0,0,0,0.12), inset 0 1px 2px rgba(0,0,0,0.24);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -10px;
    left: calc(16.5% - 10px);
    border-width: 10px;
    border-style: solid;
    border-color: darken($white, 5) transparent transparent darken($white, 5);
    z-index: 0;
  }
}

.sector-description-2::after {
  @include for-tablet-landscape-up() {
    content: "";
    position: absolute;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.12), inset 0 1px 2px rgba(0,0,0,0.24);box-shadow: inset 0 1px 3px rgba(0,0,0,0.12), inset 0 1px 2px rgba(0,0,0,0.24);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -10px;
    left: calc(30% - 10px);
    border-width: 10px;
    border-style: solid;
    border-color: darken($white, 5) transparent transparent darken($white, 5);
    z-index: 0;
  }
}

.sector-description-3::after {
  @include for-tablet-landscape-up() {
    content: "";
    position: absolute;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.12), inset 0 1px 2px rgba(0,0,0,0.24);box-shadow: inset 0 1px 3px rgba(0,0,0,0.12), inset 0 1px 2px rgba(0,0,0,0.24);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -10px;
    left: calc(43% - 8px);
    border-width: 10px;
    border-style: solid;
    border-color: darken($white, 5) transparent transparent darken($white, 5);
    z-index: 0;
  }
}

.sector-description-4::after {
  @include for-tablet-landscape-up() {
    content: "";
    position: absolute;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.12), inset 0 1px 2px rgba(0,0,0,0.24);box-shadow: inset 0 1px 3px rgba(0,0,0,0.12), inset 0 1px 2px rgba(0,0,0,0.24);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -10px;
    left: calc(56.5% - 8px);
    border-width: 10px;
    border-style: solid;
    border-color: darken($white, 5) transparent transparent darken($white, 5);
    z-index: 0;
  }
}

.sector-description-5::after {
  @include for-tablet-landscape-up() {
    content: "";
    position: absolute;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.12), inset 0 1px 2px rgba(0,0,0,0.24);box-shadow: inset 0 1px 3px rgba(0,0,0,0.12), inset 0 1px 2px rgba(0,0,0,0.24);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -10px;
    left: calc(70% - 10px);
    border-width: 10px;
    border-style: solid;
    border-color: darken($white, 5) transparent transparent darken($white, 5);
    z-index: 0;
  }
}

.sector-description-6::after {
  @include for-tablet-landscape-up() {
    content: "";
    position: absolute;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.12), inset 0 1px 2px rgba(0,0,0,0.24);box-shadow: inset 0 1px 3px rgba(0,0,0,0.12), inset 0 1px 2px rgba(0,0,0,0.24);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -10px;
    left: calc(83% - 8px);
    border-width: 10px;
    border-style: solid;
    border-color: darken($white, 5) transparent transparent darken($white, 5);
    z-index: 0;
  }
}

.recruitment-wrapper {
  text-align: center;
}

.recruitment-header {
  @include header-bold();
  text-align: left;
}

.recruitment-description {
  @include body();
  font-weight: 300;
  @include font-size(20px);
  color: $base;
  margin-top: 12px;
  margin-bottom: 72px;
  strong {
    font-weight: 400;
  }
  text-align: left;
}

.schedule-header {
  text-align: center;
}

.apply-btn {
  background-color: $accent;
  @include header-link();
  position: relative;
  display: inline-block;
  margin: 0;
  @include font-size(34px);
  text-decoration: none;
  line-height: .96;
  padding: 0px 4px 8px 4px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  margin-bottom: 32px;
  @include for-tablet-portrait-up() {
    margin-top: 32px;
    padding: 0px 4px 10px 4px;
    @include font-size(60px)
  }
  &:hover, &:focus, &:active {
    color: $accent;
    background-color: $white;
  }
}

.apply-btn:hover::after {
  background: $accent;
}
.apply-btn::after{
  content:"";
  position:absolute;
  left: 4px;
  bottom: 6px;
  right: 4px;
  margin: 0 auto;
  background: $white;
  height: 1px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  @include for-tablet-portrait-up {
    left: 4px;
    bottom: 8px;
    right: 4px;
  }
}

.recruitment-timeline {
  position: relative;
  max-width: 700px;
  margin: 56px 16px 32px 16px;
  @include for-tablet-portrait-up() {
    margin: 56px auto 16px auto;
  }
}

.recruitment-timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: $base;
  top: 0;
  bottom: 48px;
  left: -3px;
}
.recruitment-event {
  text-align: left;
  position: relative;
  padding: 6px 0px 6px 34px;
  margin-top: 36px;
  min-height: 90px;
}

.recruitment-event::after {
  content: '';
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  left: -25px;
  background-color: white;
  border: 8px solid $base;
  top: 0;
  border-radius: 50%;
  z-index: 1;
}
.event-header {
  @include font-size(30px);
}
.event-description {
  @include body();
  font-weight: 300;
  margin-top: 6px;
  @include font-size(18px);
}

// FOOTER ====================================================================

.site-footer {
  text-align: center;
  padding: 12px;
  margin-top: 16px;
  p {
    @include font-size(14px);
    color: lighten($base, 25)
  }
}