/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/lato-v14-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light"), local("Lato-Light"), url("./fonts/lato-v14-latin-300.eot?#iefix") format("embedded-opentype"), url("./fonts/lato-v14-latin-300.woff2") format("woff2"), url("./fonts/lato-v14-latin-300.woff") format("woff"), url("./fonts/lato-v14-latin-300.ttf") format("truetype"), url("./fonts/lato-v14-latin-300.svg#Lato") format("svg");
  /* Legacy iOS */
}

/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url("./fonts/lato-v14-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("./fonts/lato-v14-latin-300italic.eot?#iefix") format("embedded-opentype"), url("./fonts/lato-v14-latin-300italic.woff2") format("woff2"), url("./fonts/lato-v14-latin-300italic.woff") format("woff"), url("./fonts/lato-v14-latin-300italic.ttf") format("truetype"), url("./fonts/lato-v14-latin-300italic.svg#Lato") format("svg");
  /* Legacy iOS */
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/lato-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("./fonts/lato-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/lato-v14-latin-regular.woff2") format("woff2"), url("./fonts/lato-v14-latin-regular.woff") format("woff"), url("./fonts/lato-v14-latin-regular.ttf") format("truetype"), url("./fonts/lato-v14-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */
}

/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/lato-v14-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Italic"), local("Lato-Italic"), url("./fonts/lato-v14-latin-italic.eot?#iefix") format("embedded-opentype"), url("./fonts/lato-v14-latin-italic.woff2") format("woff2"), url("./fonts/lato-v14-latin-italic.woff") format("woff"), url("./fonts/lato-v14-latin-italic.ttf") format("truetype"), url("./fonts/lato-v14-latin-italic.svg#Lato") format("svg");
  /* Legacy iOS */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/lato-v14-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold"), local("Lato-Bold"), url("./fonts/lato-v14-latin-700.eot?#iefix") format("embedded-opentype"), url("./fonts/lato-v14-latin-700.woff2") format("woff2"), url("./fonts/lato-v14-latin-700.woff") format("woff"), url("./fonts/lato-v14-latin-700.ttf") format("truetype"), url("./fonts/lato-v14-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */
}

/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/lato-v14-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("./fonts/lato-v14-latin-700italic.eot?#iefix") format("embedded-opentype"), url("./fonts/lato-v14-latin-700italic.woff2") format("woff2"), url("./fonts/lato-v14-latin-700italic.woff") format("woff"), url("./fonts/lato-v14-latin-700italic.ttf") format("truetype"), url("./fonts/lato-v14-latin-700italic.svg#Lato") format("svg");
  /* Legacy iOS */
}

html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #525860;
  margin: 0;
  padding: 0 16px;
}

@media (min-width: 600px) {
  html {
    padding: 0 32px;
  }
}

body {
  height: 100%;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: 13px;
  width: 100%;
}

.site-header nav {
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 600px) {
  .site-header {
    margin: 0;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 4px;
  }
  .site-header nav {
    text-align: left;
  }
}

.nav-link {
  text-decoration: none;
  padding: 0;
  margin-left: 6px;
  margin-right: 6px;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #525860;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  font-size: 18px;
  font-size: 1.125rem;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
  color: #862019;
}

@media (min-width: 600px) {
  .nav-link {
    margin-left: 0px;
    margin-right: 12px;
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.header-logo {
  display: block;
  margin: 0px auto 16px auto;
  text-align: center;
}

.header-logo img {
  width: 183px;
  height: 47px;
}

@media (min-width: 600px) {
  .header-logo {
    margin-top: -16px;
    float: right;
  }
}

.home-sequence {
  max-width: 1024px;
  width: 100%;
  word-wrap: normal;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #862019;
  font-size: 40px;
  font-size: 2.5rem;
}

.home-sequence strong {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #862019;
  font-size: 40px;
  font-size: 2.5rem;
}

@media (min-width: 600px) {
  .home-sequence strong {
    font-size: 80px;
    font-size: 5rem;
  }
}

.home-sequence .strong-em {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 700;
  color: #862019;
  font-size: 40px;
  font-size: 2.5rem;
}

@media (min-width: 600px) {
  .home-sequence .strong-em {
    font-size: 80px;
    font-size: 5rem;
  }
}

.home-sequence em {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 300;
  color: #862019;
  font-size: 40px;
  font-size: 2.5rem;
}

@media (min-width: 600px) {
  .home-sequence em {
    font-size: 80px;
    font-size: 5rem;
  }
}

@media (min-width: 600px) {
  .home-sequence {
    font-size: 80px;
    font-size: 5rem;
  }
}

.home-sequence-1 {
  display: none;
}

.home-sequence-2 {
  display: none;
}

.home-sequence-3 {
  display: none;
}

.seq-link {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #ffffff;
  font-size: 30px;
  font-size: 1.875rem;
  margin-top: 16px;
  position: relative;
  background-color: #862019;
  display: inline-block;
  text-decoration: none;
  line-height: .96;
  padding: 0px 4px 8px 4px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  margin-bottom: 32px;
}

@media (min-width: 600px) {
  .seq-link {
    font-size: 60px;
    font-size: 3.75rem;
  }
}

@media (min-width: 600px) {
  .seq-link {
    margin-top: 25px;
    padding: 0px 4px 10px 4px;
  }
}

.seq-link:hover, .seq-link:focus, .seq-link:active {
  color: #862019;
  background-color: #ffffff;
}

.seq-link:hover::after {
  background: #862019;
}

.seq-link::after {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 6px;
  right: 4px;
  margin: 0 auto;
  background: #ffffff;
  height: 1px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

@media (min-width: 600px) {
  .seq-link::after {
    left: 4px;
    bottom: 10px;
    right: 4px;
  }
}

.sectors {
  text-align: center;
  margin-bottom: 32px;
  margin: 0 auto;
}

.sector-button {
  position: relative;
  width: 32%;
  padding-bottom: 8px;
  margin-bottom: 8px;
  text-align: center;
  background-color: #ffffff;
  outline: none;
  border: none;
  transition: all .25s ease;
  overflow: hidden;
}

@media (min-width: 900px) {
  .sector-button {
    margin-bottom: 0px;
    width: 13%;
    padding-bottom: 20px;
  }
}

.sector-button:hover, .sector-button:focus {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.sector-button:active {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.sector-title {
  font-size: 14px;
  font-size: 0.875rem;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #525860;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
}

@media (min-width: 900px) {
  .sector-title {
    margin-top: -10px;
    font-size: 16px;
    font-size: 1rem;
  }
}

.sector-icon {
  height: 60px;
  max-width: 40px;
  margin: 0;
  background-color: #ffffff;
}

@media (min-width: 900px) {
  .sector-icon {
    height: 80px;
    max-width: 60px;
  }
}

.sector-description {
  padding: 20px 32px 24px 32px;
  background-color: #f2f2f2;
  position: relative;
  z-index: 2;
  text-align: left;
}

.sector-description p {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 300;
}

.sector-description p strong {
  font-weight: 400;
}

.sector-description-1, .sector-description-2, .sector-description-3,
.sector-description-4, .sector-description-5, .sector-description-6 {
  display: none;
  transition: all .25s ease;
}

@media (min-width: 900px) {
  .sector-description-1::after {
    content: "";
    position: absolute;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -10px;
    left: calc(16.5% - 10px);
    border-width: 10px;
    border-style: solid;
    border-color: #f2f2f2 transparent transparent #f2f2f2;
    z-index: 0;
  }
}

@media (min-width: 900px) {
  .sector-description-2::after {
    content: "";
    position: absolute;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -10px;
    left: calc(30% - 10px);
    border-width: 10px;
    border-style: solid;
    border-color: #f2f2f2 transparent transparent #f2f2f2;
    z-index: 0;
  }
}

@media (min-width: 900px) {
  .sector-description-3::after {
    content: "";
    position: absolute;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -10px;
    left: calc(43% - 8px);
    border-width: 10px;
    border-style: solid;
    border-color: #f2f2f2 transparent transparent #f2f2f2;
    z-index: 0;
  }
}

@media (min-width: 900px) {
  .sector-description-4::after {
    content: "";
    position: absolute;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -10px;
    left: calc(56.5% - 8px);
    border-width: 10px;
    border-style: solid;
    border-color: #f2f2f2 transparent transparent #f2f2f2;
    z-index: 0;
  }
}

@media (min-width: 900px) {
  .sector-description-5::after {
    content: "";
    position: absolute;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -10px;
    left: calc(70% - 10px);
    border-width: 10px;
    border-style: solid;
    border-color: #f2f2f2 transparent transparent #f2f2f2;
    z-index: 0;
  }
}

@media (min-width: 900px) {
  .sector-description-6::after {
    content: "";
    position: absolute;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -10px;
    left: calc(83% - 8px);
    border-width: 10px;
    border-style: solid;
    border-color: #f2f2f2 transparent transparent #f2f2f2;
    z-index: 0;
  }
}

.recruitment-wrapper {
  text-align: center;
}

.recruitment-header {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #862019;
  font-size: 40px;
  font-size: 2.5rem;
  text-align: left;
}

@media (min-width: 600px) {
  .recruitment-header {
    font-size: 80px;
    font-size: 5rem;
  }
}

.recruitment-description {
  font-size: 14px;
  font-size: 0.875rem;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #525860;
  font-weight: 300;
  font-size: 20px;
  font-size: 1.25rem;
  color: #525860;
  margin-top: 12px;
  margin-bottom: 72px;
  text-align: left;
}

.recruitment-description strong {
  font-weight: 400;
}

.schedule-header {
  text-align: center;
}

.apply-btn {
  background-color: #862019;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #ffffff;
  font-size: 30px;
  font-size: 1.875rem;
  position: relative;
  display: inline-block;
  margin: 0;
  font-size: 34px;
  font-size: 2.125rem;
  text-decoration: none;
  line-height: .96;
  padding: 0px 4px 8px 4px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  margin-bottom: 32px;
}

@media (min-width: 600px) {
  .apply-btn {
    font-size: 60px;
    font-size: 3.75rem;
  }
}

@media (min-width: 600px) {
  .apply-btn {
    margin-top: 32px;
    padding: 0px 4px 10px 4px;
    font-size: 60px;
    font-size: 3.75rem;
  }
}

.apply-btn:hover, .apply-btn:focus, .apply-btn:active {
  color: #862019;
  background-color: #ffffff;
}

.apply-btn:hover::after {
  background: #862019;
}

.apply-btn::after {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 6px;
  right: 4px;
  margin: 0 auto;
  background: #ffffff;
  height: 1px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

@media (min-width: 600px) {
  .apply-btn::after {
    left: 4px;
    bottom: 8px;
    right: 4px;
  }
}

.recruitment-timeline {
  position: relative;
  max-width: 700px;
  margin: 56px 16px 32px 16px;
}

@media (min-width: 600px) {
  .recruitment-timeline {
    margin: 56px auto 16px auto;
  }
}

.recruitment-timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: #525860;
  top: 0;
  bottom: 48px;
  left: -3px;
}

.recruitment-event {
  text-align: left;
  position: relative;
  padding: 6px 0px 6px 34px;
  margin-top: 36px;
  min-height: 90px;
}

.recruitment-event::after {
  content: '';
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  left: -25px;
  background-color: white;
  border: 8px solid #525860;
  top: 0;
  border-radius: 50%;
  z-index: 1;
}

.event-header {
  font-size: 30px;
  font-size: 1.875rem;
}

.event-description {
  font-size: 14px;
  font-size: 0.875rem;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #525860;
  font-weight: 300;
  margin-top: 6px;
  font-size: 18px;
  font-size: 1.125rem;
}

.site-footer {
  text-align: center;
  padding: 12px;
  margin-top: 16px;
}

.site-footer p {
  font-size: 14px;
  font-size: 0.875rem;
  color: #9198a1;
}
